<!-- templates/recipe_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<p>Описание: {{ recipe.description }}</p>
<p>Время приготовления: {{ recipe.preparation_time }} минут</p>
<p>Ингредиенты: {% for ingredient in recipe.ingredients.all %}{{ ingredient }}, {% endfor %}</p>
<p>Категория: {% for category in recipe.categories.all %}{{ category }}, {% endfor %}</p>
<p>Автор: {{ recipe.author.username }}</p>
<img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
<p>Шаги приготовления:</p>
<pre>{{ recipe.preparation_steps|linebreaksbr }}</pre>
<a href="{% url 'edit-recipe' recipe.id %}">Редактировать рецепт</a>
<a href="{% url 'delete-recipe' recipe.id %}">Удалить рецепт</a>
{% endblock %}